<body class="container">
  <h1>Filter</h1>
  <h3>Input the values you desire the observable receive</h3>
  <section class="inputs">
    <input type="number" class="input" [(ngModel)]="firstValue" />
    <input type="number" class="input" [(ngModel)]="secondValue" />
    <input type="number" class="input" [(ngModel)]="thirdValue" />
    <input type="number" class="input" [(ngModel)]="fourthValue" />
  </section>
  <section>
    <h3>Input the filter you desire</h3>
    <input
    type="radio"
    name="radio"
    value="even"
    (change)="evenOrOdd($event.target)"
    id="multiply"
  /><label for="multiply">even</label>
  <input
    type="radio"
    name="radio"
    value="odd"
    (change)="evenOrOdd($event.target)"
    id="divide"
  /><label for="divide">odd</label>
  </section>
  <section class="graphic card">
    <h2>Input</h2>
    <div class="obs-input">
      <div
        *ngIf="firstValue || firstValue === 0"
        class="marble"
        [@createMarble]
      >
        <span>{{ firstValue }}</span>
      </div>
      <div
        *ngIf="secondValue || secondValue === 0"
        class="marble second"
        [@createMarble]
      >
        <span>{{ secondValue }}</span>
      </div>
      <div
        *ngIf="thirdValue || thirdValue === 0"
        class="marble third"
        [@createMarble]
      >
        <span>{{ thirdValue }}</span>
      </div>
      <div
        *ngIf="fourthValue || fourthValue === 0"
        class="marble fourth"
        [@createMarble]
      >
        <span>{{ fourthValue }}</span>
      </div>
      <hr />
    </div>
    <h3>
      Filter:
      <span *ngIf="choice"
        >{{choice}}</span
      >
    </h3>
    <h2>Output</h2>
    <div class="obs-input">
      <div
        *ngIf="obsOutput[0] || obsOutput[0] === 0"
        class="marble output"
        [@createMarble]
      >
        <span>{{ obsOutput[0] }}</span>
      </div>
      <div
        *ngIf="obsOutput[1] || obsOutput[1] === 0"
        class="marble second"
        [@createMarble]
      >
        <span>{{ obsOutput[1] }}</span>
      </div>
      <div
        *ngIf="obsOutput[2] || obsOutput[2] === 0"
        class="marble third"
        [@createMarble]
      >
        <span>{{ obsOutput[2] }}</span>
      </div>
      <div
        *ngIf="obsOutput[3] || obsOutput[3] === 0"
        class="marble fourth"
        [@createMarble]
      >
        <span>{{ obsOutput[3] }}</span>
      </div>
      <hr />
    </div>
    <div class="button-group">
      <button class="brutal-start" (click)="start()">Start</button>
      <button class="brutal-reset" (click)="reset()">Reset</button>
    </div>
  </section>
</body>
